container_commands:
  01_migrate:
    command: "source $PYTHONPATH/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source $PYTHONPATH/activate && python manage.py collectstatic --noinput"


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: cryptooracle.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:application:environment:
    "DJANGO_RUNTIME_ENVIRONMENT": "production"
    "RDS_DB_NAME": "coracledb"
    "RDS_USERNAME": "coracledbuser"
    "RDS_PASSWORD": "tothemoonamor14Feb2021!!!"
    "RDS_HOSTNAME": "coracle-db-id.cd8t9iucitbv.us-east-1.rds.amazonaws.com"
    "RDS_PORT": "5432"
    "DJANGO_SECRET_KEY": ")rb3wf#cx!v$zcm7qed-71xzzp898e6xc6t@e^-d%qmhd#g6&r"

