container_commands:
  00_version:
    command: "/opt/python/run/venv/bin/python3.7 -V"
  01_migrate:
    command: "/opt/python/run/venv/bin/python3.7 /opt/python/ondeck/app/app/manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "/opt/python/run/venv/bin/python3.7 /opt/python/ondeck/app/app/manage.py collectstatic --noinput"


option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "cryptooracle.settings"
    "PYTHONPATH": "/opt/python/ondeck/app/app:$PYTHONPATH"
    "DJANGO_RUNTIME_ENVIRONMENT": "production"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: cryptooracle/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    /static: static

